* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Whitney', Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(37, 94, 233, 255);
}

/* header con flexbox */
.containerheader {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1% 1% 1% 1%;
}



.logoheader {
    padding: 1% 10% 1% 1%;
}

.linkheader {
    display: flex;
    text-align: center;
    padding: 1% 10% 1% 10%;
}

.loginheader {
    padding: 1% 1% 1% 10%;
}

a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

.button {
    color: black;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bold;
}

.button.white {
    background-color: white;
    color: black;
}

.button.black {
    background-color: rgba(35, 39, 42, 255);
    color: white;
}

.purple {
    background-color: #6d83cf;
    color: white;
}

.textwhite {
    color: white;
    justify-content: center;
    text-align: center;
}

.bold {
    font-weight: bold;
    font-size: 35px;
    line-height: 100px;
}

.buttoncontainerevenly {
    display: flex;
    justify-content: center;
    gap: 20px;

}

/* main setting */

.containermain {
    display: flex;
    flex-direction: column;
    background-image: url(../img/jumbo.png);
    background-size: contain;
    min-height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.downloadsection {
    min-height: 300px;
    flex-basis: 40%;
    padding: 5% 20%;
    margin: 5%;
}

.description1 {
    display: flex;
    background-color: white;
    min-height: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5% 10%;
}

.immagine img {
    min-height: 500px;
    width: 100%;
}

.text {
    min-height: 500px;
    width: 20%;
}

h1 {
    font-size: 40px;
}

p {
    line-height: 30px;
}

.description2 {
    display: flex;
    background-color: #d2d3d2;
    min-height: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 5% 10%;
}


/* debug */
.text2 {
    min-height: 800px;
    width: 60%;
}

.bottom1 {
    display: flex;
    justify-content: center;
}

.bottom {
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 50px;
}

.ultimocontainerstelline {
    margin-top: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerfooter {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.data {
    display: flex;
    background-color: #23262b;
    min-height: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5% 10%;
}

button {
    color: white;
}

.footerlang img {
    width: 5%;
}

.lingua {
    color: white;
}

ul {
    list-style-type: none;
    color: #6d83cf;
    line-height: 30px;
}

li {
    color: white;
}

select {
    border: none;
    background-color: transparent;
    color: white;
}

.footertext {
    height: 500px;
    width: 10%;
}

.footerlang {
    height: 500px;
    width: 20%;
    color: rgba(114, 137, 218, 255);
    line-height: 45px;
}

.containerfooter {
    background-color: #23262b;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
}

.buttoncontainer {
    width: 60%;
    height: 2%;
    height: auto;
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    border-top: 1px solid grey;
    padding: 1% 0;
}

.bottoma {
    padding: 1%;
}

.button.purple {
    background-color: #6d83cf;
    color: white;
    height: fit-content;
}