* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Whitney', Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(37, 94, 233, 255);
}

/* header con flexbox */
.containerheader {
    display: flex;
    justify-content: center;
    padding: 1% 1% 1% 1%;
}

img {
    object-fit: cover;
}

.logoheader {
    padding: 1% 10% 1% 1%;
}

.linkheader {
    padding: 1% 10% 1% 10%;
}

.loginheader {
    padding: 1% 1% 1% 10%;
}

a {
    text-decoration: none;
    color: white;
}

.button {
    color: black;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bold;
}

.button.white {
    background-color: white;
    color: black;
}

.textwhite {
    color: white;
    text-align: center;
}

.bold {
    font-weight: bold;
    font-size: 35px;
    line-height: 100px;
}

/* main setting */

.containermain {
    display: flex;
    flex-direction: column;
    background-image: url(../img/jumbo.png);
    background-size: contain;
    min-height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.downloadsection {
    min-height: 300px;
    flex-basis: 40%;
    padding: 5% 20%;
    margin: 5%;
}

.description1 {
    display: flex;
    background-color: white;
    min-height: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5% 10%;
}

.immagine {
    background-color: #1f91ff;
    min-height: 500px;
    width: 40%;
    border: dashed;
}

.text {
    background-color: #fec1cb;
    min-height: 500px;
    width: 20%;
    border: dashed;
}

.description2 {
    display: flex;
    background-color: #d2d3d2;
    min-height: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 5% 10%;
}


/* debug */
.text2 {
    background-color: #228b22;
    min-height: 800px;
    width: 60%;
    border: dashed;
}


.containerfooter {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.data {
    display: flex;
    background-color: #23262b;
    min-height: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5% 10%;
}

.footertext {
    background-color: #21b3aa;
    min-height: 500px;
    width: 10%;
    border: dashed white;
}

.footerlang {
    background-color: #f18180;
    min-height: 500px;
    width: 20%;
    border: dashed;
}

.footerend {
    background-color: #23262b;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 1% 1% 1% 1%;
    width: 100%;
}

.buttoncontainer {
    width: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #7fffd4;
    display: flex;
    justify-content: space-between;
}

button {
    border: dashed black;
    background-color: #ffb6c1;
}

.bottoma {
    background-color: #ffb6c1;
    padding: 1%;
    border: dashed black;
}